@{
    ViewBag.Title = "Nhà Sản Xuất";
    ViewBag.SubMenu = "Danh Mục Sản Phẩm";
}

<link href="@Url.Content("~/Content/Producer.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/app/controller/producerController.js")"></script>
<script src="@Url.Content("~/Scripts/app/models/producerModel.js")"></script>
<script src="@Url.Content("~/Scripts/app/services/producerService.js")"></script>
<script src="@Url.Content("~/ckfinder/ckfinder.js")"></script>

@using (Ajax.BeginForm("Index", "Producer", null, new AjaxOptions { HttpMethod = "POST" }, new { @name = "producerValid", @id = "producerValid", @novalidate = "novalidate" }))
{
    <div ng-controller="producerController">
        <div class="row">
            <div class="col-md-12">
                <div kendo-grid
                     id="ProducerTable"
                     k-options="ProducerSection"
                     k-on-save="ProducerListSave">
                </div>
            </div>
        </div>

        <div id="KenWindownProducer" class="k-window-content" style="display:none;">
            <div class="clear-5"></div>
            <div class="alert alert-danger mr-15" ng-show="IsSave && formHasError()">
                <ul>
                    <li ng-show="showErrorMsg(producerValid.Name)">Tên Nhà Sản Xuất Không Được Để Trống</li>
                    <li ng-show="CheckDuplicate">Tên Nhà Sản Xuất Đã Tồn Tại</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="col-sm-3">
                        <label>Tên Nhà Sản Xuất</label>
                        <span class="asterisk">*</span>:
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control"
                               name="Name"
                               id="Name"
                               style="margin-bottom: 15px;"
                               ng-model="producer.Name"
                               maxlength="500"
                               ng-class="{'has-error': showErrorMsg(producerValid.Name) || CheckDuplicate}"
                               required />
                    </div>
                    <div class="col-sm-3">
                        <label>Email</label>
                        <span class="asterisk"></span>:
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control"
                               name="Email"
                               id="Email"
                               style="margin-bottom: 15px;"
                               ng-model="producer.Email" />
                    </div>
                    <div class="col-sm-3">
                        <label>Điện Thoại</label>
                        <span class="asterisk"></span>:
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control"
                               name="Phone"
                               id="Phone"
                               style="margin-bottom: 15px;"
                               ng-model="producer.Phone" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="col-sm-3">
                        <label>Logo</label>
                        <span class="asterisk"></span>:
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default" ng-click="ChoonseImage()">Chọn Ảnh</button>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control"
                               ng-show="false"
                               name="Image"
                               id="ImageLabel"
                               ng-model="producer.Logo" />
                        <div name="Image"
                             style="width: 100%; height: 150px; margin-top: -34px; background-position: center; background-repeat: no-repeat; background-size: contain; background-image: url('{{producer.Logo}}');"
                             id="ImagePic"></div>
                    </div>
                    <div class="col-sm-3">
                        <label>Trạng Thái</label>
                        <span class="asterisk"></span>:
                    </div>
                    <div class="col-sm-9">
                        <input type="checkbox"
                               id="TrangThai"
                               ng-model="producer.Status"
                               name="TrangThai"
                               class="k-checkbox" />
                        <label class="k-checkbox-label" for="TrangThai">Kích Hoạt</label>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="producer.ProducerID > 0">
                <div class="col-sm-7">
                    <div class="col-sm-3">
                        <label>Người Tạo:</label>
                    </div>
                    <div class="col-sm-9">
                        <label ng-bind="producer.CreatedByName"></label>
                        <input type="hidden" id="CreatedByName" name="CreatedByName" ng-model="producer.CreatedByName" ng-os-hidden />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="col-sm-3">
                        <label>Ngày Tạo:</label>
                    </div>
                    <div class="col-sm-9">
                        <label ng-bind="producer.CreatedDate"></label>
                        <input type="hidden" id="CreatedDate" name="CreatedDate" ng-model="producer.CreatedDate" ng-os-hidden />
                    </div>
                </div>
            </div>
            <div class="row" ng-show="producer.ProducerID > 0">
                <div class="col-sm-7">
                    <div class="col-sm-3">
                        <label>Người Sửa:</label>
                    </div>
                    <div class="col-sm-9">
                        <label ng-bind="producer.LastUpdatedByName"></label>
                        <input type="hidden" id="LastUpdatedByName" name="LastUpdatedByName" ng-model="producer.LastUpdatedByName" ng-os-hidden />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="col-sm-3">
                        <label>Ngày Sửa:</label>
                    </div>
                    <div class="col-sm-9">
                        <label ng-bind="producer.LastUpdatedDate"></label>
                        <input type="hidden" id="LastUpdatedDate" name="LastUpdatedDate" ng-model="producer.LastUpdatedDate" ng-os-hidden />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button"
                            id="btnSave"
                            class="btn btn-primary float-right btn-swidth mr-10"
                            ng-show="ShowBtnSave"
                            ng-disabled="DisabledBtnSave"
                            ng-click="save(producerValid)">
                        <i class="fa fa-save " aria-hidden="true"></i> LƯU
                    </button>

                    <button type="button"
                            id="btnUpdate"
                            class="btn btn-primary float-right btn-swidth mr-10"
                            ng-show="ShowBtnUpdate"
                            ng-disabled="DisabledBtnUpdate"
                            ng-click="update(producerValid)">
                        <i class="fa fa-save " aria-hidden="true"></i> CẬP NHẬT
                    </button>
                    <button type="button"
                            class="btn btn-danger k-grid-delete float-right btn-swidth mr-10"
                            ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i> ĐÓNG
                    </button>

                </div>
            </div>
        </div>
    </div>
}

